@charset "UTF-8";

:root{
    --cor01:#d99a4e;
    --cor02:#594058;
    --cor03:#000000;
    --cor04:#ffffff;
    --cor05:#f1c40f;
    --cor06:#262626;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor03);
    line-height: 1.4;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.header{
    background-color: #262626;
    color:var(--cor04);
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo{
    font-size: 24px;
    font-weight: bold;
}

.header .nav{
    display: flex;
    margin: auto;
    gap: 20px;
    
}

.header .nav a{
    color:var(--cor04);
    text-decoration: none;
    font-size: 1.2em;
    transition: trasform 0.3s ease, box-shadow 0.3 ease;
}

.nav a:hover{
    text-decoration: underline;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--cor06);
}


#home{
    color:#d99a4e;
}

.logo{
    color:#d99a4e;
}


section{
    padding-top: 50px;
    height: 450px;
    color:white;
    background-color: rgba(128, 128, 128, 0.688);
}

#titulo{
    color:white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.4em;
}

#logo{
    background-image: url('imagens/pexels-zvolskiy-1570806.jpg');
    opacity: 75%;
    background-position: center;
}

section > p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center justify;
    text-indent: 15px;
    font-size: 1.7em;
    background-color: rgba(128, 128, 128, 0.255);
}


div.servicos {
    background-color: var(--cor04); /* Fundo branco */
    display: flex;
    justify-content: flex-end; /* Alinha tudo à direita */
    gap: 10px; /* Espaçamento entre os elementos */
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin: 50px 15px;
    margin-bottom: -25px;
}

div.servicos p {
    flex: 1; /* Ocupa o espaço necessário à esquerda */
    text-align: left; /* Alinha o texto à esquerda */
    color: var(--cor03); /* Cor do texto */
    margin: 0;
    text-align:justify;
    margin-left:25px;
    margin-right:310px;
    margin-top: 60px;
    font-size: 1.7em;
}

.meus-trabalhos{
    border-color: #d99a4e;
    background-color: #ffffff;
    margin-top: 200px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: 50px;
}
div .coluna {
    display: flex;
    flex-direction: column; /* Empilha as imagens na vertical */
    gap: 10px; /* Espaçamento entre as imagens da coluna */
}    


div img {
    width: 120px; /* Tamanho padrão das imagens */
    height: 120px;
}

div img.grande {
    width: 250px; /* Largura maior para a imagem ao lado */
    height: 250px; /* Altura proporcional */
    margin-right: 50px;
}
